@import url("../icon/icons.css");
@font-face {
  font-family: "Lato";
  src: url("../icon/Lato.ttf");
}

@font-face {
  font-family: "Linotte";
  src: url("../icon/Linotte.otf");
}

@font-face {
  font-family: "Circe";
  src: url("../icon/circe.otf");
}

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-weight: 600;
  font-family: Lato;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::scrollbar {
  width: 0px !important;
}

*::scrollbar {
  width: 0px !important;
}

*::-webkit-scrollbar {
  width: 0px !important;
}

*::-moz-scrollbar {
  width: 0px !important;
}

*::-ms-scrollbar {
  width: 0px !important;
}

*::-moz-osx-scrollbar {
  width: 0px !important;
}

*::-o-scrollbar {
  width: 0px !important;
}

body {
  --color1: #3c5063;
  --color2: #fa4a4d;
  --cor3: #ffc10e;
  --color4: #3db9ec;
  --color5: #388e3c;
  --color6: #222332;
  --color7: #1a1b1e;
  --atual: #388e3c;
}

header {
  width: 100%;
  padding: 2.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 1rem;
}

header nav h1 {
  float: left;
  color: #3c5063;
  font-family: Circe;
}

header nav h1 span {
  font-weight: 400;
  color: #388e3c;
  font-family: unset;
}

header nav ul {
  display: inline-block;
  vertical-align: middle;
  padding: .2rem 0 0 18rem;
}

header nav ul li {
  cursor: pointer;
  margin: 0 1.5rem;
  font-weight: 400;
  line-height: 0px;
  font-size: 1.1rem;
  font-family: Circe;
  letter-spacing: 1px;
  display: inline-block;
}

header div {
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 1rem;
}

header div i {
  margin: 0 1rem;
  cursor: pointer;
  font-weight: 900;
  font-size: 1.1rem;
  vertical-align: middle;
}

header div img {
  width: 30px;
  height: 30px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 50%;
}

section {
  width: 100%;
  padding: 2.3rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: row;
  gap: 1rem;
}

section hgroup {
  width: 450px;
}

section hgroup h1, section hgroup h2 {
  font-weight: 900;
  font-size: 2.4rem;
}

section hgroup h1 {
  color: var(--atual);
  font-family: Circe;
}

section hgroup h2 {
  color: #333;
}

section hgroup p {
  line-height: 28px;
}

section hgroup a {
  width: 30%;
  color: #fff;
  display: block;
  margin: .6rem 0 0;
  font-weight: 400;
  text-align: center;
  padding: .5rem 1rem;
  border-radius: 20px;
  letter-spacing: 2px;
  background: var(--atual);
}

section .back-front {
  width: 550px;
  padding: 0px;
  height: 370px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
}

section .back-front::after {
  z-index: -2;
  top: -39.8rem;
  right: -10rem;
  width: 1100px;
  height: 1100px;
  display: block;
  overflow: hidden;
  background: #eee;
  position: fixed;
  border-radius: 50%;
}

section .back-front .produtos {
  z-index: -2;
  top: -39rem;
  right: -10rem;
  width: 1100px;
  height: 1100px;
  overflow: hidden;
  background: red;
  border-radius: 50%;
  position: fixed;
  background: var(--atual);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
}

section .back-front .produtos div {
  width: 100%;
  bottom: 20px;
  height: 270px;
  margin: 0 auto;
  display: block;
  overflow: hidden;
  position: absolute;
  padding: 3.5rem 0 0;
}

section .back-front .produtos div ul {
  width: 450px;
  height: 450px;
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
  border: 3px dotted #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
}

section .back-front .produtos div ul li {
  width: 80px;
  height: 80px;
  overflow: hidden;
  position: absolute;
  border-radius: 50%;
  transform: rotate(calc(var(--x) * (360deg / 10))) translateY(235px);
}

section .back-front .produtos div ul li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotate(calc(var(--x) * (-360deg / 10)));
}

section .back-front div.front {
  top: 4.5rem;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
}

section .back-front div.front img {
  width: 220px;
  height: 220px;
  padding: .1rem;
  margin: 0 auto;
  overflow: hidden;
  object-fit: cover;
  border-radius: 50%;
  background: #ccc;
}

section .back-front div.controls {
  bottom: 0px;
  width: 500px;
  display: block;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 0px;
}

section .back-front div.controls i {
  z-index: 2;
  color: #fff;
  cursor: pointer;
  padding: .7rem;
  border-radius: 50%;
  background: var(--atual);
}
